<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.0.4" targetFramework="net40-Client" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net40-Client" />
  <package id="TestDataFactory" version="0.1.1" targetFramework="net40-Client" />
  <package id="thorn" version="1.0.0" targetFramework="net40-Client" />
</packages>